xrd.protocol XrdHttp:1094 libXrdHttp.so

xrootd.chksum max 100 adler32

#http.secxtractor /usr/lib64/libXrdVoms.so

# only needed when IGTF CA certs installed
#xrd.tlsca certdir /etc/grid-security/certificates

# probably the default, but here for completeness
http.httpsmode auto

# Ensure any redirect, e.g. via cmsd is done via https
http.selfhttps2http no
http.desthttps yes

http.exthandler xrdtpc libXrdHttpTPC.so
http.header2cgi Authorization authz
