[defaults]
inventory = inventory
roles_path = roles:../../common/ansible/roles
envfile = .env  # If Ansible is run from TF, this line has no effect, so TF must source the .env ahead of the run

[ssh_connection]
pipelining = True
