# Configuration and Issuer settings for OAuth2 WLCG profiled tokens
#[Global]
onmissing = passthrough
# JW - this is needed
audience = https://wlcg.cern.ch/jwt/v1/any


# A section for each issuer
[Issuer SKAIAM]
issuer = https://ska-iam.stfc.ac.uk/
# JW - keep as / for now 
base_path = /
map_subject = False
default_user = xrootd

