# Define Harbor User , Password and URL

primary_user = "user" # Destination Harbor Username

primary_user_password = "password" # Destination Harbor Password

harbor_dest_url = "https://harbor.localhost:8443"

remote_harbor_url = "https://remote-harbor.com"
