###########################################################################
# This is a very simple sample configuration file sufficient to start an  #
# xrootd data server using the default port 1094 plus http protocol on    #
# port 80. This server runs by itself (stand-alone) and does not assume   #
# it is part of a cluster. You can then connect to this server to access  #
# files in '/tmp'. Consult the the reference manuals on how to create     #
# more complicated configurations and set the host cert and key for http. #
#                                                                         #
# On successful start-up you will see 'initialization completed' in the   #
# last message. You can now connect to the xrootd server.                 #
#                                                                         #
# Note: You should always create a *single* configuration file for all    #
# daemons related to xrootd.                                              #
###########################################################################

# The export directive indicates which paths are to be exported. While the
# default is '/tmp', we indicate it anyway to show you this directive.
#
all.export {{ data_path }}

# The adminpath and pidpath variables indicate where the pid and various
# IPC files should be placed
#
all.adminpath /var/spool/xrootd
all.pidpath /run/xrootd


# TLS config
xrd.tls /etc/grid-security/xrd/xrdcert.pem /etc/grid-security/xrd/xrdkey.pem
xrd.tlsca certdir /etc/grid-security/certificates
xrootd.tls capable all -data

# Load the http protocol, indicate that it should be served on port 80.
# The socket bound to port 80 has to be preallocated by the systemd
# xrdhttp.socket (requires systemd!).
#
# In order to enable the xrdhttp.socket run:
#       systemctl enable xrdhttp@http.socket
# In order to start the xrdhttp.socket run:
#       systemctl start xrdhttp@http.socket
#
#xrd.protocol XrdHttp:80 libXrdHttp.so
# More configuration files can be added in /etc/xrootd/config.d/
# For example /etc/xrootd/config.d/10-mygrid.cfg and
# /etc/xrootd/config.d/98-mysite-specifics.cfg

if exec xrootd
  xrd.port 1094
  xrd.protocol http:1094 libXrdHttp.so
fi

# Enable TPC via http
http.exthandler xrdtpc libXrdHttpTPC.so

# For Macaroons
http.exthandler xrdmacaroons libXrdMacaroons.so
macaroons.secretkey /etc/xrootd/macaroon-secret

# Enable Security
xrootd.seclib libXrdSec.so
sec.level all compatible

# Authentication and Authorisation part
ofs.authorize 1
ofs.authlib ++ libXrdAccSciTokens.so config=/etc/xrootd/scitokens.cfg
ofs.authlib ++ libXrdMacaroons.so

xrootd.chksum max 20 adler32

# Require the use of the xrd.tls certificates (alternative is to use manual)
# JW
http.httpsmode auto

# Ensure any redirect, e.g. via cmsd is done via https
#
http.selfhttps2http no
http.desthttps yes

# Pass the bearer token to the Xrootd authorization framework.
http.header2cgi Authorization authz

# libXrdMacaroons expects all.sitename to be defined
all.sitename {{ site_name }}


# Logging info
#
#xrootd.trace auth login request response redirect emsg
xrootd.trace auth login redirect emsg
xrd.trace conn tls tlssok protocol tlsio
#http.trace request response


continue /etc/xrootd/config.d/
