environment = "xrootd-server-name-example"
openstack_flavor = "openstack-flavor-name-example"
openstack_image = "openstack-image-name-example"
openstack_ska_uksrc_network = "openstack-ska-uksrc-network-example"
openstack_ska_uksrc_subnet = "openstack-ska-uksrc-subnet-example"
state_s3_endpoint = "openstack-s3-endpoint-url-example"
default_username = "default_username_example"
openstack_wcdc_dirac_network= "example-network-name"
openstack_wcdc_dirac_subnet = "example-network-subnet"
