environment                 = "xrootd-server-name-example"
openstack_flavor            = "openstack-flavor-name-example"
openstack_image             = "openstack-image-name-example"
openstack_ska_uksrc_network = "openstack-ska-uksrc-network-example"
openstack_ska_uksrc_subnet  = "openstack-ska-uksrc-subnet-example"
openstack_floating_ip       = "XXX.XXX.XXX.XXX"
state_s3_endpoint           = "openstack-s3-endpoint-url-example"
default_username            = "default_username_example"
