# users and their public keys
users = {
  "ubuntu"         = "UBUNTU_USER_SSH_KEY_FROM_1PASSWORD"
  "username"       = "SSH_PUBLIC_KEY_CONTENT"
  "another_user"   = "ANOTHER_SSH_PUBLIC_KEY_CONTENT"
}

primary_user = "ubuntu"
