# users and their public keys
users = {
  "rocky"          = "ROCKY_USER_SSH_KEY_FROM_1PASSWORD"
  "username"       = "SSH_PUBLIC_KEY_CONTENT"
  "another_user"   = "ANOTHER_SSH_PUBLIC_KEY_CONTENT"
}

primary_user = "your username"
